label#charge-operation_label,
label#charge-value_label,
label#charger-userlist_label,
label#topup-value_label,
p#fgroup_id_applycoupon_label {
    min-width: max-content;
    margin-left: -15px;
}

div#fitem_topup-value,
div#fitem_charger-userlist,
div#fitem_charge-value,
div#fitem_charge-operation,
div#fgroup_id_applycoupon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-width: 100%;
}