.enrol_wallet_walletcost {
    position: absolute;
    z-index: 1;
    background-color: rgb(255 255 255 / 47%);
    border-radius: 5px;
    opacity: .9;
    font-size: 15px;
    font-weight: 600;
    color: darkred;
    padding-top: 1px;
    margin-left: -5px;
    width: 27px;
    font-variant-caps: all-small-caps;
    text-align: center;
}

#page-enrol-wallet-confirm #region-main {
    .generalbox:first-of-type {
        width: 33.33%;
        float: left;
    }

    .generalbox:not(:first-of-type) {
        float: right;
        width: calc(66.66% - 1rem);
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: .5rem;
        -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
        box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    }
}

@media (max-width: 768px) {
    #page-enrol-wallet-confirm #region-main .generalbox {
        width: 100% !important;
        float: none !important;
        margin: .5rem 0 .5rem 0 !important;
    }

    #page-enrol-wallet-confirm #region-main .generalbox:first-of-type {
        padding: 0 !important;
    }
}
