{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_wallet/display

    This template will render informations about current user wallet balance.

    Context variables required for this template:
    * balance - the user's balance
    * currency - the currency we use
    * transaction - the displayed url for transactions page.

    Example context (json):
    {
        "balance": 50,
        "currency": "EGP",
        "main" : "20",
        "transaction": "<a href='https://your-moodle.com/enrol/wallet/extra/transactions.php'>Wallet transactions</a>",
        "norefund": 30,
        "policy": "something",
        "transfer": "<a href='https://your-moodle.com/enrol/wallet/extra/transfer.php'>transfer</a>",
        "referral": "<a href='https://your-moodle.com/enrol/wallet/extra/referral.php'>referral</a>",
        "currentuser": true,
        "catdetails": [
            {
                "name": "some category",
                "refundable": 20,
                "nonrefundable": 100,
                "total": 120
            },
            {
                "name": "Another one",
                "refundable": 10,
                "nonrefundable": 5,
                "total": 15
            }
        ]
    }

}}
<span class="hidden" data-uniqid="{{uniqid}}" data-identifier="{{uniqid}}"></span>
<div class="text-center pb-0">
    {{# currentuser}}
    {{#walleturl}}
    <a href="{{walleturl}}">
    {{/walleturl}}
        <h3 class="wallet-heading" > {{# str }} mywallet, enrol_wallet {{/ str }} </h3>
    {{#walleturl}}
    </a>
    {{/walleturl}}
    {{/ currentuser}}
    <div class="balance-card" style="direction: ltr;">
        {{# currentuser}}{{# str }} youhavebalance, enrol_wallet {{/ str }}{{/ currentuser}}<br>
        <strong><span class="wallet-ballance" style="font-size: x-large;">{{balance}} {{currency}}</span></strong><br>
        {{#currentuser}}{{# str }} inyourwallet, enrol_wallet {{/ str }} <br>{{/currentuser}}
        <span class="wallet-ballance">{{# str }} mainbalance, enrol_wallet {{/ str }} {{main}} {{currency}}</span><br>
        <span class="wallet-ballance">{{# str }} notrefund, enrol_wallet {{/ str }} {{norefund}} {{currency}}</span><br>
        {{# hasdetails}}
        <a href="#" id="more-details-{{uniqid}}"> More Details </a><br>
        {{/ hasdetails}}
        <div id="balance-details-{{uniqid}}" style="display:none;" class="enrol-wallet-balance-details">
        {{# catdetails }}
            <div class="enrol-wallet-cat-balance">
                <h5>{{ name }}</h5>
                <ul style="text-align: left;">
                    <li><strong>Total: {{total}}</strong></li>
                    <li>Refundable: {{refundable}}</li>
                    <li>Non-refundable: {{nonrefundable}}</li>
                </ul>
            </div>
        {{/ catdetails }}
        </div>
    </div>
    <div>
        {{> enrol_wallet/manualpolicy }}
        <span class="transactions-url">{{{transactions}}}</span><br>
        {{# transfer}}
        <span class="transfer-url">{{{transfer}}}</span><br>
        {{/ transfer}}
        {{# referral}}
        <span class="referral-url">{{{referral}}}</span>
        {{/ referral}}
    </div>
</div>

{{#js}}
    require(['enrol_wallet/expenders'], function(ex) {
        ex.init('{{uniqid}}');
    });
{{/js}}