<div class="referral-signup-container">
    <h2>{{#str}}referral_signup_heading, enrol_wallet{{/str}}</h2>
    <p>{{#str}}referral_signup_intro, enrol_wallet, {{referrer_name}}{{/str}}</p>
    {{{form}}}
</div>