{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_wallet/single-bundle

    TODO describe template single-bundle

    Example context (json):
    {
    }
}}

<div class="{{classes}}">
    <form method="{{method}}" action="{{url}}" {{#formid}}id="{{formid}}"{{/formid}} style="height:100%;">
        {{#params}}
            <input type="hidden" name="{{name}}" value="{{value}}">
        {{/params}}
        <button type="submit" class="btn {{#primary}}btn-primary{{/primary}}{{^primary}}btn-secondary{{/primary}} enrol-wallet-bundle-button"
            id="{{id}}"
            style="padding:0;"
            {{#tooltip}}title="{{tooltip}}"{{/tooltip}}
            {{#disabled}}disabled{{/disabled}}
            {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
            <div class="enrol-wallet-ribbon">
                <span>{{discount}}%</span>
                <div class="bundle-inner">
                    <h5>{{#str}} topupbundle, enrol_wallet {{/str}}</h5>
                    <div><strong>{{after}} {{currency}}</strong> <del style="font-size:small;">{{before}} {{currency}}</del></div>
                    {{#str}} bundlevalidin, enrol_wallet {{/str}}
                    <h6>{{{category}}}</h6>
                    <p>{{{description}}}</p>
                </div>
            </div>
        </button>
        {{#hasenddate}}{{/hasenddate}}
    </form>
</div>
{{#hasactions}}
    {{> core/actions }}
{{/hasactions}}

