{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_wallet/single-bundle

    Single bundle button template.

    Example context (json):
    {
        "formid": "123",
        "method": "post",
        "url": "https://example.com",
        "id": "456",
        "discount": "20",
        "after": "80",
        "before": "100",
        "currency": "EGP",
        "category": "sample",
        "description": "example discount"
    }
}}

<div class="{{classes}}">
    <form method="{{method}}" action="{{url}}" {{#formid}}id="{{formid}}"{{/formid}} style="height:100%;">
        {{#params}}
            <input type="hidden" name="{{name}}" value="{{value}}">
        {{/params}}
        <button type="submit" class="btn {{#primary}}btn-primary{{/primary}}{{^primary}}btn-secondary{{/primary}} p-0 enrol-wallet-bundle-button"
            id="{{id}}"
            {{#tooltip}}title="{{tooltip}}"{{/tooltip}}
            {{#disabled}}disabled{{/disabled}}
            {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
            <span class="enrol-wallet-ribbon">
                <span class="ribbon">{{discount}}%</span>
                <span class="bundle-inner text-dark">
                    <span class="h5">{{#str}} topupbundle, enrol_wallet {{/str}}</span>
                    <br>
                    <span dir="ltr">
                        <strong class="h4 text-primary font-weight-bold">{{after}} {{currency}}</strong>
                        <del style="font-size:small;">{{before}} {{currency}}</del>
                    </span>
                    <br>
                    {{#str}} bundlevalidin, enrol_wallet {{/str}}
                    <br>
                    <span class="h6">{{{category}}}</span>
                    <br>
                    <span>{{{description}}}</span>
                </span>
            </span>
        </button>
        {{#hasenddate}}{{/hasenddate}}
    </form>
</div>
{{#hasactions}}
    {{> core/actions }}
{{/hasactions}}

